{% extends 'base.html.twig' %}

{% block title %}Ajouter un pondérateur{% endblock %}

{% block body %}
<!--ponderator/add_form.body-->
{{ form_start(add_form) }}
{{ form_errors(add_form) }}
<div class="row form-group">
    <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{ form_label(add_form.name) }}</label></div>
    <div class="col-12 col-md-9">{{ form_widget(add_form.name, { 'attr': {'class': 'form-control'} }) }}</div>
</div>
<div class="row form-group">
    <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{ form_label(add_form.coefficient) }}</label></div>
    <div class="col-12 col-md-9">{{ form_widget(add_form.coefficient, { 'attr': {'class': 'form-control'} }) }}</div>
</div>
<input type="submit" value="Envoyer">
{{ form_end(add_form) }}
<!--/ponderator/add_form.body-->
{% endblock %}