{% extends 'todo/layout.html.twig' %}

{% block title %}Hello TodoController!
{% endblock %}

{% block body %}
    <!--todo/index.body-->
    <div class="todo-list">
        <div class="tdl-holder">
            <div class="tdl-content">
                <ul>
                    {% for task in tasks %}
                        <li>
                            <label>
                                <input {% if task.checked %} checked {% endif %} type="checkbox"><i class="check-box"></i>
                                <span class="h3 text-secondary">{{ task.title }}</span>
                                {% if task.deadline %}Deadline : {{ task.deadline|date('Y-m-d') }} {% endif %}
                                {% if task.duration %}Temps estimé : {{ task.duration|date('Y-m-d') }} {% endif %}
                                {% if task.repetition %} Répétition : {{ task.repetition|date('Y-m-d') }} {% endif %}
                                {% if task.startDate %} startDate : {{ task.startDate|date('Y-m-d') }} {% endif %}
                                {% if task.ponderators %}
                                    {% for ponderator in task.ponderators %}
                                        <span class="badge badge-primary">{{ ponderator.name }}<span class="badge badge-light">3</span></span>
                                    {% endfor %}
                                {% endif %}
                                <a class="fa fa-times" href='{{ path('todo_delete', {'id' : task.id}) }}'></a>
                                <a class="fa fa-pencil" href='{{ path('todo_edit', {'id' : task.id}) }}'></a>
                                {# {% if task.checked %}color icon{% endif %} #}
                                <a class="fa fa-check" href='#'></a>
                                {# <p>{{ task.description }}</p> #}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!--/todo/index.body-->
{% endblock %}
